.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/circle/get_copy.sh
/circle/*.rds
/circle/write_up*

/small_circle/*.sh
/small_circle/*.rds
/small_circle/*.pdf

/paschold/*.rds
/paschold/*.sh
paschold/*.pdf
